<ion-view view-title="Événements" class="theme-bleu">
	<ion-content>
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Recherche" ng-change="eventListCtrl.update()" ng-model="eventListCtrl.search" ng-model-options="{debounce:500}">
			</label>
		</div>
		<p>
			<ul>
				<li ng-repeat='event in eventListCtrl.events'>
					<div class="list list-inset">
						<a class="item" ui-sref="tab.eventDetails({eventId : event._id})">
							<h2>{{event.nom}} • {{event.joueurs.length}} participants</h2>
							<p>{{event.details.public}}</p>
							<p>{{event.date_debut | date:"d MMMM yyyy, HH:mm"}} • {{event.date_fin | date:"HH:mm"}}</p>
						</a>
					</div>
				</li>
			</ul>
		</p>	
	</ion-content>
</ion-view>