<ion-view view-title="Joueurs">
	<ion-content>
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Recherche" ng-change="joueurListCtrl.update()" ng-model="joueurListCtrl.search" ng-model-options="{debounce:500}">
			</label>
		</div>
		<p>
			<ul>
				<li ng-repeat='joueur in joueurListCtrl.joueurs'>
					<div class="list list-inset" ng-show="joueur.email">
						<a class="item row" ui-sref="tab.joueurDetails({joueurId : joueur._id})">
							<canvas id="{{joueur._id}}" class="chart-joueurs"></canvas>
							<div>
								<h2>{{joueur.prenom}} {{joueur.nom}}</h2>
								<p>{{joueur.email}}</p>
								<p ng-show="joueur.evenement">{{joueur.evenement.nom}} • {{joueur.evenement.date_debut | date:"d MMMM yyyy"}}</p>
							</div>
						</a>
					</div>
				</li>
			</ul>
		</p>	
	</ion-content>
</ion-view>