/* Empty. Add your own CSS if you like*/ 
.chart-joueurs{
	//border: solid 1px;
	height: 65px !important;
	width: 130px !important;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -25px;
	margin-right: -20px;
}

.chart-event, .chart-joueur{
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	max-height: 260px;
	max-width: 520px;
}

.date{
	font-weight: 400;
}

.list-inset{
	margin: 5px 5px;
}
.pane {
    background-color: #102751;
}
.item{
	background-color: #ffffff;
}
/*.input-label{
	color: #5ca5ff;
}*/
.title{
	color: #5ca5ff;
}
