/* Empty. Add your own CSS if you like*/ 
.chart-preview{
	//border: solid 1px;
	height: 65px !important;
	width: 130px !important;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -25px;
	margin-right: -20px;
}

.chart-event{
	margin-top: 5px;
	margin-bottom: 5px;
}

.list-inset{
	margin: 5px 5px;
}